<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'posts:home_posts' %}" class="nav-link px-2 text-secondary">Inicio</a></li>
                <li><a href="{% url 'posts:post_realizado' %}" class="nav-link px-2 text-white">Posteos</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
            <div class="text-end">
                {% if user.is_authenticated %}
                Bienvenido {{ user.username }}
                <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'logout' %}"
                        class="nav-link px-2 text-white">Cerrar sesion</a></button>
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                {% else %}
                <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'login' %}"
                        class="nav-link px-2 text-white">Iniciar sesion</a></button>
                <button type="button" class="btn btn-warning"><a href="{% url 'usuarios:registro' %}"
                        class="nav-link px-2 text-white">Registro</a></button>
                {% endif %}
            </div>
        </div>
    </div>
</header>